<h1><center>Natural Language Processing</center></h1>

<h3><center>NLP 07</center></h3>

![hM0xGrmJw](https://miro.medium.com/max/720/1*PGB0w1JZslqA-hM0xGrmJw.gif)

# Topics
1.	Introduction to Natural Language Processing
2.	Why learn NLP?
3.	Let's start playing with Python!
4.	Text Wrangling and Cleansing
 - Sentence splitter
 - Tokenization
 - Stemming         
 - Lemmatization    
 - Stop word removal
 - Diving into NLTK
5.	Vectorizing with Python
 - Count Vectorizer 
 - TF-IDF Vectorizer
6.	Modelling with Python <---------------------------------------------------- **This is where we are**
 - Classification
 - Clustering
 - Sentiment Analysis

# Reading data with pandas

In [12]:
import pandas as pd
df = pd.read_csv('SPAM text.csv')

In [62]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

# Writing a function to clean out stopwords

In [16]:
# Helper Code 
' '.join(['my','name','siddharth'])

'my name siddharth'

In [32]:
# df['Message'].apply(yourwrittenfunction)

In [34]:
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords

In [36]:
word_tokenize('This is a string')

['This', 'is', 'a', 'string']

In [40]:
my_stopwords = stopwords.words('english')

In [41]:
my_stopwords

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [60]:
def datacleaning(mystring):
    # Step 1 
    # Tokenize the string
    my_tokenized_string = word_tokenize(mystring)
    
    # ----------------- End of step 1 ----------------- #
    temp = []
    for i in my_tokenized_string:
#         print(f'i right now is ({i})')
        if i in my_stopwords:
            pass
        else:
            temp.append(i)
#             print(f'We just appended ({i}) to our temp list')
#             print(f'Our temp currently looks like {temp}')
#             print('--------------------------------')
    my_new_string = ' '.join(temp)
    return my_new_string

In [51]:
# Helper Code 
' '.join(['my','name','siddharth'])

'my name siddharth'

In [63]:
datacleaning('My name is siddharth')

'My name siddharth'

# Executing our function on our column

In [61]:
df['Message'].apply(datacleaning)

0       Go jurong point , crazy .. Available bugis n g...
1                         Ok lar ... Joking wif u oni ...
2       Free entry 2 wkly comp win FA Cup final tkts 2...
3             U dun say early hor ... U c already say ...
4          Nah I n't think goes usf , lives around though
                              ...
5567    This 2nd time tried 2 contact u. U £750 Pound ...
5568                   Will ü b going esplanade fr home ?
5569                 Pity , * mood . So ... suggestions ?
5570    The guy bitching I acted like 'd interested bu...
5571                                 Rofl . Its true name
Name: Message, Length: 5572, dtype: object