# Assignment
Take the Restaurant dataset given in google classroom


# Question 1
Prepare the data for modelling, This will include
- Converting to lowercase
- Removing stopwords
- Lemmatization
- Stemming
- Removing numbers 

### Brownie points if you can do it all in 1 function

# Question 2
Once the data has been cleaned :-
- Divide the data intro train and test parts
- Convert the training and text text into vectors 
- Convert the labels intro numbers(encoding)

Overall, you should end up with 4 varaibles 
- Xtrain
- Xtest
- Ytrain
- Ytest

You can name these whatever you want, upto you. But i am looking for these 4 variables ready to go for modelling

------------

![](https://media.tenor.com/d8fG2J6pkAUAAAAC/friends-chandler.gif)

# A hint
The file is stores as a ```tsv```.

You can load a ```tsv``` file with ```pd.read_csv``` while passing the seperator or ```sep``` argument as ```\t```.

This tells pandas that the file is seperated by tab's instead of comma's

In [2]:
import pandas as pd

In [14]:
df = pd.read_csv('Restaurant_Reviews.tsv',sep='\t')

In [15]:
df

                                                Review  Liked
0                             Wow... Loved this place.      1
1                                   Crust is not good.      0
2            Not tasty and the texture was just nasty.      0
3    Stopped by during the late May bank holiday of...      1
4    The selection on the menu was great and so wer...      1
..                                                 ...    ...
995  I think food should have flavor and texture an...      0
996                           Appetite instantly gone.      0
997  Overall I was not impressed and would not go b...      0
998  The whole experience was underwhelming, and I ...      0
999  Then, as if I hadn't wasted enough of my life ...      0

[1000 rows x 2 columns]